/target
.cache/
/dist
/game/build
/game/dist
/android/.gradle
/android/.kotlin
/android/app/build
/android/build
/android/local.properties
/docs/.venv/
/docs/_build/
/.deflorta-dist-*

__pycache__
Thumbs.db
.DS_Store
