@media screen {
  body[data-theme="dark"] img.kroki-graphviz {
    filter: invert(1) hue-rotate(180deg);
  }

  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) img.kroki-graphviz {
      filter: invert(1) hue-rotate(180deg);
    }
  }
}
